absl-py==2.4.0
annotated-types==0.7.0
anyio==4.13.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.3.0
attrs==26.1.0
awscli==1.44.79
babel==2.18.0
beautifulsoup4==4.14.3
bleach==6.3.0
botocore==1.42.89
certifi==2022.12.7
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
comm==0.2.3
contourpy==1.3.2
cryptography==46.0.7
cycler==0.10.0
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
docutils==0.19
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.28.0
flatbuffers==25.12.19
fonttools==4.62.1
fqdn==1.5.1
fsspec==2026.3.0
gast==0.4.0
gitdb==4.0.12
GitPython==3.1.46
google-auth==2.49.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.80.0
h11==0.16.0
h5py==3.16.0
httpcore==1.0.9
httpx==0.28.1
idna==2.10
ipykernel==7.2.0
ipython==8.39.0
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
json5==0.14.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyterlab==4.5.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.5.0
lark==1.3.1
libclang==18.1.1
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.10.6
matplotlib-inline==0.2.1
mistune==3.2.0
mpmath==1.3.0
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
notebook==7.5.5
notebook_shim==0.2.4
numpy==1.24.3
oauthlib==3.3.1
opencv-python==4.8.1.78
opt_einsum==3.4.0
overrides==7.7.0
packaging==26.1
pandocfilters==1.5.1
parso==0.8.6
pillow==12.2.0
platformdirs==4.9.6
polars==1.39.3
polars-runtime-32==1.39.3
prometheus_client==0.25.0
prompt_toolkit==3.0.52
protobuf==3.19.6
psutil==7.2.2
pure_eval==0.2.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.1
pydantic_core==2.46.1
pyDeprecate==0.5.0
Pygments==2.20.0
pyparsing==2.4.7
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==4.1.0
pywinpty==3.0.3
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
roboflow==1.1.4
rpds-py==0.30.0
rsa==4.7.2
s3transfer==0.16.0
scikit-learn==1.7.2
scipy==1.15.3
Send2Trash==2.1.0
sentry-sdk==2.58.0
setuptools==82.0.1
six==1.17.0
smmap==5.0.3
soupsieve==2.8.3
stack-data==0.6.3
supervision==0.27.0.post2
sympy==1.14.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.3.0
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tomli==2.4.1
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
torchvision==0.16.0+cu118
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2026.1
ultralytics==8.4.37
ultralytics-thop==2.0.18
uri-template==1.3.0
urllib3==2.6.3
wandb==0.25.0
wcwidth==0.6.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.8
wget==3.2
wheel==0.46.3
wrapt==2.1.2
